* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background: linear-gradient(to right, #181818, #303030);
  /*background-color: #181818;*/
}

header,
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.navBar ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
  gap: 15px;
}

.navBar a {
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  color: whitesmoke;
  border-radius: 18px;
  transition: all 0.2s;
}

.navBar a:hover {
  color: #ca8012;
  background-color: whitesmoke;
  font-size: 20px;
  transition: all 0.2s;
}

.mainSectionPontoTuristico {
  padding: 40px 0;
}

.mainSectionPontoTuristico h1,
.mainSectionPontoTuristico h2 {
  text-align: center;
  color: white;
}

.mainSectionPontoTuristico h1 {
  margin-bottom: 5px;
  font-size: 42px;
}

.mainSectionPontoTuristico h2 {
  margin-bottom: 5px;
  font-size: 26px;
}

.color-laranja {
  color: #ca8012;
}

.mainContainerPontoTuristico {
  width: 80vw;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-pontos {
  display: flex;
}

.container-pontos img,
.container-pontos-conteudo {
  width: 50%;
}

.container-pontos img {
  transition: all 0.2s;
}

.container-pontos img:hover {
  transform: scale(1.04);
  z-index: 1;
  transition: all 0.2s;
}

.container-pontos-conteudo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid gray;
  /*background-color: #a1a1a1;*/
  color: whitesmoke;
}

.container-pontos-conteudo h3 {
  font-size: 32px;
  color: #ca8012;
  padding-bottom: 45px;
}

.container-pontos-conteudo p {
  font-size: 24px;
}

.container-btn {
  display: flex;
  justify-content: flex-end;
}

.btn-mapa {
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 6px 20px;
  text-decoration: none;
  color: #ca8012;
  background-color: whitesmoke;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.2s;
}

.btn-mapa:hover {
  background-color: #ca8012;
  color: whitesmoke;
  transition: all 0.2s;
  box-shadow: 0 0 5px 2px #ad6e0e;
}

.invertido {
  flex-direction: row-reverse;
}

footer {
  justify-content: center;
}

footer p {
  color: whitesmoke;
}

footer a {
  text-decoration: none;
  color: #ca8012;
  font-weight: 600;
  transition: all 0.2s;
}

footer a:hover {
  color: whitesmoke;
}
